  	 <section id="index-icon">
        <ul class="icon-link">
            <li class="footer-index"><a href="/" class="font-14"><i class="icon-home3"></i><p>首页</p></a></li>
            <li class="footer-search"><a href="/search" class="font-14"><i class="icon-search"></i><p>搜索</p></a></li>
            <li class="footer-shop-cart"><a href="/shop" class="font-14"><i class="icon-cart"></i><p>购物车</p></a></li>
            <li class="footer-user-center"><a href="/user" class="font-14"><i class="icon-user"></i><p>我的</p></a></li>
        </ul>
    </section>


  	<script src="/javascripts/flexible_css.debug.js"></script>
  	<script src="/javascripts/flexible.debug.js"></script>
    <script src="/javascripts/jquery-1.12.4.js"></script>
  	<script src="/javascripts/footer.js"></script>
  </body>
</html>