<%- include header.ejs%>

    <header class="header">
        <!-- 导航部分 -->
        <nav class="nav">
            <div class="logo">
                <img src="/images/icon/logo1.png" alt="">
            </div>
            <input type="text" class="search">
        </nav>
        <section class="slider">
            <img src="/images/banner/banner9.jpg" alt="">
        </section>
    </header>

    <section>
        <div class="items">
            <ul>
                <li>
                    <i class="icon"><img src="/images/icon/ic1.png" alt=""></i>
                    <span class="font-12">充值</span>
                </li>
                <li>
                    <i class="icon"><img src="/images/icon/ic2.png" alt=""></i>
                    <span class="font-12">礼卷</span>
                </li>
                <li>
                    <i class="icon"><img src="/images/icon/ic3.png" alt=""></i>
                    <span class="font-12">积分</span>
                </li>
                <li>
                    <i class="icon"><img src="/images/icon/ic4.png" alt=""></i>
                    <span class="font-12">正品</span>
                </li>
                <li>
                    <i class="icon"><img src="/images/icon/ic5.png" alt=""></i>
                    <span class="font-12">充值</span>
                </li>
                <li>
                    <i class="icon"><img src="/images/icon/ic6.png" alt=""></i>
                    <span class="font-12">礼卷</span>
                </li>
                <li>
                    <i class="icon"><img src="/images/icon/ic7.png" alt=""></i>
                    <span class="font-12">积分</span>
                </li>
                <li>
                    <i class="icon"><img src="/images/icon/ic9.png" alt=""></i>
                    <span class="font-12">正品</span>
                </li>
            </ul>
        </div>
    </section>

    <section class="cards">
        <header class="cards-title">
            <span class="font-15">精选橱窗</span>
            <a href="javascript:;" class="font-14">更多 ></a>
        </header>
        <section class="cards-img">
            <a href="javascript:;">
                <img src="/images/banner/banner4.jpg" alt="">
            </a>
        </section>
    </section>


    <section id="goods-group">
        <header class="goods-title">
            <h1 class="font-15">新品上架</h1>
        </header>
        <div class="goods-detail clearfix">
            <div class="goods-img fl">
                <img src="/images/pd/pd1.jpg">
            </div>
            <div class="goods-desc fl">
                <h3 class="font-18">APPLE iphone 6s</h3>
                <p class="font-12">Apple iPhone 6s (A1700) 64G 玫瑰金色 移动联通电信4G手机.选择下方的移动、联通、电信优惠购，套餐有优惠，还有话费返还</p>
                <span class="goods-price font-22">
                    ￥4299.00
                </span>
            </div>
        </div>

        <div class="goods-detail clearfix">
            <div class="goods-img fl">
                <img src="/images/pd/pd1.jpg">
            </div>
            <div class="goods-desc fl">
                <h3 class="font-18">APPLE iphone 6s</h3>
                <p class="font-12">Apple iPhone 6s (A1700) 64G 玫瑰金色 移动联通电信4G手机.选择下方的移动、联通、电信优惠购，套餐有优惠，还有话费返还</p>
                <span class="goods-price font-20">
                    ￥4299.00
                </span>
            </div>
        </div>
        <div class="goods-detail clearfix">
            <div class="goods-img fl">
                <img src="/images/pd/pd1.jpg">
            </div>
            <div class="goods-desc fl">
                <h3 class="font-18">APPLE iphone 6s</h3>
                <p class="font-12">Apple iPhone 6s (A1700) 64G 玫瑰金色 移动联通电信4G手机.选择下方的移动、联通、电信优惠购，套餐有优惠，还有话费返还</p>
                <span class="goods-price font-20">
                    ￥4299.00
                </span>
            </div>
        </div>
    </section>


    <section id="cuxiao">
        <header class="cuxiao-title clearfix">
            <span class="font-15 fl">促销活动</span>
            <a href="javascipt:;" class="font-15 fr">更多> </a>
        </header>
        <section class="cuxiao-line clearfix">
            <div class="cuxiao-detail fl">
                <div class="cuxiao-img">
                    <img src="/images/pd/a1.jpg" >
                </div>
                <span>
                    索尼特价专区
                </span>
            </div>
            <div class="cuxiao-detail fl">
                <div class="cuxiao-img">
                    <img src="/images/pd/a2.jpg" >
                </div>
                <span>
                    索尼特价专区
                </span>
            </div>
        </section>

        <section class="cuxiao-line clearfix">
            <div class="cuxiao-detail fl">
                <div class="cuxiao-img">
                    <img src="/images/pd/a1.jpg" >
                </div>
                <span>
                    索尼特价专区
                </span>
            </div>
            <div class="cuxiao-detail fl">
                <div class="cuxiao-img">
                    <img src="/images/pd/a2.jpg" >
                </div>
                <span>
                    索尼特价专区
                </span>
            </div>
        </section>

    </section>

    <!-- <header id="ui-header">
        <div class="ui-center">
            <section id="slider">
                <div class="ui-slider">
                    <ul class="ui-slider-content" style="width:400%">
                        <li><img src="/images/banner/banner9.jpg"></li>
                        <li><img src="/images/banner/banner9.png"></li>
                        <li><img src="/images/banner/banner7.jpg"></li>
                        <li><img src="/images/banner/banner8.jpg"></li>
                    </ul>
    
                    <ul class="ui-slider-indecators">
                        <li class="current">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </div>
            </section>
    
            <section id="ui-form">
                <div class="ui-form-color" id="headsearch">
                    <div class="ui-form-logo fl">
                        <a href="#">
                            <span><img src="/images/icon/logo1.png" alt=""></span>
                        </a>
                    </div>
    
                    <div class="ui-form-input fl">
                        <input type="text" placeholder="搜索商品名称">
                    </div>
                </div>
            </section>
        </div>
    </header> -->
<%- include footer.ejs%>
