<%- include header.ejs%>
	<header class="search-header">
		<div class="search-input"> 
			<form action="#">
				<input type="text" placeholder="商品名称" class="font-14">
			</form>	
		</div>
		<div class="search-icon">
			<i class="icon-search font-18"></i>
		</div>
	</header>
	<section id="search-phone">
		<ul class="search-list font-14">
			<li class="top"><span>港版iphone7</span></li>
			<li class="top"><span>港版iphone7</span></li>
			<li class="top"><span>Smartisan</span></li>
			<li><span>皇帝的新装</span></li>
			<li><span>笔记本</span></li>
			<li><span>智能手环</span></li>
			<li><span>时尚运动</span></li>
			<li><span>黑科技</span></li>
			<li><span>华为P7</span></li>
			<li><span>三星</span></li>
			<li><span>小米</span></li>
			<li><span>oppo</span></li>
		</ul>
	</section>

	<section id="index-icon">
        <ul class="icon-link">
            <li><a href="/" class="font-14"><i class="icon-home3"></i><p>首页</p></a></li>
            <li><a href="/search" class="font-14"><i class="icon-search"></i><p>搜索</p></a></li>
            <li><a href="/shop" class="font-14"><i class="icon-cart"></i><p>购物车</p></a></li>
            <li><a href="javascript:;" class="font-14"><i class="icon-user"></i><p>我的</p></a></li>
        </ul>
    </section>
<%- include footer.ejs%>