<%- include header.ejs%>
	<header class="shop-header">
		<h1 class="font-18">购物车</h1>
	</header>

	<section class="shop-container">
		<div class="shop-content clearfix">
			<div class="shop-img fl">
				<img src="images/pd/pd1.jpg" alt="">
			</div>
			<div class="shop-desc fl">
				<h1 class="font-18">Apple iphone 6s</h1>
				<p class="font-14">玫瑰金色 移动联通电信4G手机</p>
				<span class="font-18">￥4788</span>
				<div class="shop-btn font-14">
					<span>-</span><span>1</span><span>+</span>
				</div>

			</div>
		</div>

		<div class="shop-content clearfix">
			<div class="shop-img fl">
				<img src="images/pd/pd1.jpg" alt="">
			</div>
			<div class="shop-desc fl">
				<h1 class="font-18">Apple iphone 6s</h1>
				<p class="font-14">玫瑰金色 移动联通电信4G手机</p>
				<span class="font-18">￥4788</span>
				<div class="shop-btn font-14">
					<span>-</span><span>1</span><span>+</span>
				</div>
			</div>
		</div>

		<div class="shop-content clearfix">
			<div class="shop-img fl">
				<img src="images/pd/pd1.jpg" alt="">
			</div>
			<div class="shop-desc fl">
				<h1 class="font-18">Apple iphone 6s</h1>
				<p class="font-14">玫瑰金色 移动联通电信4G手机</p>
				<span class="font-18">￥4788</span>
				<div class="shop-btn font-14">
					<span>-</span><span>1</span><span>+</span>
				</div>

			</div>
		</div>


		<div class="shop-content clearfix">
			<div class="shop-img fl">
				<img src="images/pd/pd1.jpg" alt="">
			</div>
			<div class="shop-desc fl">
				<h1 class="font-18">Apple iphone 6s</h1>
				<p class="font-14">玫瑰金色 移动联通电信4G手机</p>
				<span class="font-18">￥4788</span>
				<div class="shop-btn font-14">
					<span>-</span><span>1</span><span>+</span>
				</div>

			</div>
		</div>

		<div class="shop-content clearfix">
			<div class="shop-img fl">
				<img src="images/pd/pd1.jpg" alt="">
			</div>
			<div class="shop-desc fl">
				<h1 class="font-18">Apple iphone 6s</h1>
				<p class="font-14">玫瑰金色 移动联通电信4G手机</p>
				<span class="font-18">￥4788</span>
				<div class="shop-btn font-14">
					<span>-</span><span>1</span><span>+</span>
				</div>

			</div>
		</div>
	</section>


	<section class="shop-end clearfix font-14">
		<div class="all-price fl">
			<span >共4件</span><span>金额为：</span>
			<p><span>213.8</span>元</p>
		</div>
		<div class="shop-continue fl">
			继续购物
		</div>
		<div class="shop-jiesuan fl">
			 去结算
		</div>
	</section>
<%- include footer.ejs%>