<%- include header.ejs%>
	<header class="user-header">
		<div class="user-container clearfix">
			<div class="user-img fl">
				<img src="/images/icon/user.png">
			</div>
			
			<div class="user-message fl">
				<span class="font-20">某某某某</span>
				<p class="font-14">超级会员</p>
			</div>
			<div class="user-shezhi fr font-20">
				设置
			</div>
		</div>		
	</header>

	<section id="user-state">
		<ul class="user-state-list font-14">
			<li><a href="javascript:;"><p class="blue"></p><span>待支付</span></a></li>
			<li><a href="javascript:;"><p class="red"></p><span>待发货</span></a></li>
			<li><a href="javascript:;"><p class="green"></p><span>待收货</span></a></li>
			<li><a href="javascript:;"><p class="yellow"></p><span>待评价</span></a></li>
			<li><a href="javascript:;"><p class="pink"></p><span>待维权</span></a></li>
		</ul>
	</section>

	<section id="user-personal">
		<ul class="personal-list font-14">
			<li><a href="javascript:;">全部订单</a></li>
			<li><a href="javascript:;">我的优惠</a></li>
			<li><a href="javascript:;">我的红包</a></li>
			<li><a href="javascript:;">我的会员</a></li>
			<li><a href="javascript:;">我的收藏</a></li>
			<li><a href="javascript:;"><i class="icon-cart"></i>我的购物</a></li>
		</ul>
	</section>

<%- include footer.ejs%>