@font-face {
  font-family: 'icomoon';
  src: url('/icon_font/icomoon.eot?s4yfff');
  src: url('/icon_font/icomoon.eot?s4yfff#iefix') format('embedded-opentype'), url('/icon_font/icomoon.ttf?s4yfff') format('truetype'), url('/icon_font/icomoon.woff?s4yfff') format('woff'), url('/icon_font/icomoon.svg?s4yfff#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home3:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
[data-dpr="1"] .font-12 {
  font-size: 12px;
}
[data-dpr="1"] .font-14 {
  font-size: 14px;
}
[data-dpr="1"] .font-15 {
  font-size: 15px;
}
[data-dpr="1"] .font-16 {
  font-size: 16px;
}
[data-dpr="1"] .font-18 {
  font-size: 18px;
}
[data-dpr="1"] .font-20 {
  font-size: 20px;
}
[data-dpr="1"] .font-22 {
  font-size: 22px;
}
[data-dpr="1"] .font-24 {
  font-size: 24px;
}
[data-dpr="1"] .font-56 {
  font-size: 56px;
}
[data-dpr="2"] .font-12 {
  font-size: 24px;
}
[data-dpr="2"] .font-14 {
  font-size: 28px;
}
[data-dpr="2"] .font-15 {
  font-size: 30px;
}
[data-dpr="2"] .font-16 {
  font-size: 32px;
}
[data-dpr="2"] .font-18 {
  font-size: 36px;
}
[data-dpr="2"] .font-20 {
  font-size: 40px;
}
[data-dpr="2"] .font-22 {
  font-size: 44px;
}
[data-dpr="2"] .font-24 {
  font-size: 48px;
}
[data-dpr="2"] .font-56 {
  font-size: 112px;
}
[data-dpr="3"] .font-12 {
  font-size: 36px;
}
[data-dpr="3"] .font-14 {
  font-size: 42px;
}
[data-dpr="3"] .font-15 {
  font-size: 45px;
}
[data-dpr="3"] .font-16 {
  font-size: 48px;
}
[data-dpr="3"] .font-18 {
  font-size: 54px;
}
[data-dpr="3"] .font-20 {
  font-size: 60px;
}
[data-dpr="3"] .font-22 {
  font-size: 66px;
}
[data-dpr="3"] .font-24 {
  font-size: 72px;
}
[data-dpr="3"] .font-56 {
  font-size: 168px;
}
.header {
  position: relative;
  height: 4.625rem;
}
.nav {
  position: fixed;
  width: 100%;
  padding: 0.175rem 0.3rem;
  z-index: 99;
}
.nav .logo {
  display: inline-block;
  vertical-align: middle;
  height: 0.8rem;
  width: 1.075rem;
}
.nav .logo img {
  width: 100%;
  height: 100%;
}
.nav .search {
  width: 7.5rem;
  height: 0.8rem;
  border-radius: 3px;
  outline: none;
  background-color: #ffffff;
  padding-left: 0.5rem;
}
.slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4.625rem;
  z-index: 1;
}
.slider img {
  width: 100%;
  height: 100%;
}
.bgOrange {
  background-color: #FB9833;
}
.items {
  padding: 0.2rem;
  background-color: #ffffff;
}
.items ul {
  font-size: 0;
}
.items ul li {
  display: inline-block;
  width: 25%;
  padding: 0 0.25rem;
  text-align: center;
}
.items ul li .icon {
  display: inline-block;
  width: 100%;
}
.items ul li .icon img {
  width: 100%;
  height: 100%;
}
.items ul li span {
  color: #333333;
}
.items ul li:nth-child(n+5) {
  margin-top: 0.4rem;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  width: 100%;
  min-height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
html,
body {
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-family: sans-serif;
  height: 100%;
}
body {
  line-height: 1;
  background-color: #fff;
}
li {
  list-style: outside none none;
}
a:active {
  outline: 0 none;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
img {
  vertical-align: middle;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cards {
  margin-top: 0.4rem;
  width: 100%;
  height: 4.8rem;
  background-color: #ffffff;
  padding-bottom: 0.25rem;
}
.cards .cards-title {
  width: 100%;
  height: 1.0rem;
  line-height: 1.0rem;
}
.cards .cards-title span {
  float: left;
  padding-left: 0.25rem;
  color: #2b577a;
}
.cards .cards-title a {
  float: right;
  padding-right: 0.25rem;
  color: #888;
}
.cards .cards-img {
  wdith: 8.875rem;
  height: 3.55rem;
  padding: 0 0.25rem;
}
.cards .cards-img a {
  display: block;
  width: 100%;
  height: 100%;
}
.cards .cards-img a img {
  width: 100%;
  height: 100%;
}
#goods-group {
  width: 100%;
  margin-top: 0.35rem;
  background-color: #ffffff;
}
#goods-group .goods-title {
  width: 100%;
  height: 1.0rem;
  line-height: 1.0rem;
}
#goods-group .goods-title h1 {
  color: #2b577a;
  padding-left: 0.25rem;
  padding-top: 0.16remx;
}
#goods-group .goods-detail {
  height: 3.45rem;
  width: 100%;
  padding: 0.325rem 0.325rem 0.325rem 0.25rem;
}
#goods-group .goods-detail .goods-img {
  width: 2.65rem;
  height: 2.675rem;
}
#goods-group .goods-detail .goods-img img {
  width: 100%;
  height: 100%;
}
#goods-group .goods-detail .goods-desc {
  width: 5.775rem;
  height: 2.675rem;
  padding-left: 0.25rem;
}
#goods-group .goods-detail .goods-desc h3,
#goods-group .goods-detail .goods-desc p,
#goods-group .goods-detail .goods-desc span {
  width: 100%;
}
#goods-group .goods-detail .goods-desc p {
  color: rgba(32, 35, 37, 0.6);
  line-height: 0.4rem;
  margin-bottom: 0.125rem;
}
#goods-group .goods-detail .goods-desc .goods-price {
  color: #f60;
  font-weight: 500;
}
#cuxiao {
  margin-top: 0.4rem;
  background-color: #ffffff;
  padding-bottom: 1.375rem;
}
#cuxiao .cuxiao-title {
  width: 100%;
  height: 1.0rem;
  line-height: 1.0rem;
}
#cuxiao .cuxiao-title span {
  color: #2b577a;
  padding-left: 0.25rem;
}
#cuxiao .cuxiao-title a {
  color: #888;
  padding-right: 0.25rem;
}
#cuxiao .cuxiao-line {
  padding: 0 0.25rem;
  width: 100%;
  height: 2.725rem;
  margin-top: 0.15rem;
}
#cuxiao .cuxiao-line .cuxiao-detail {
  position: relative;
  width: 4.675rem;
  height: 2.725rem;
  margin-right: 0.15rem;
}
#cuxiao .cuxiao-line .cuxiao-detail:nth-child(2) {
  margin-right: 0;
}
#cuxiao .cuxiao-line .cuxiao-detail .cuxiao-img {
  width: 100%;
  height: 100%;
}
#cuxiao .cuxiao-line .cuxiao-detail .cuxiao-img img {
  width: 100%;
  height: 100%;
}
#cuxiao .cuxiao-line .cuxiao-detail span {
  display: inline-block;
  width: 100%;
  height: 0.625rem;
  line-height: 0.625rem;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
}
#index-icon {
  width: 100%;
  height: 1.375rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #F1F1F1;
}
#index-icon .icon-link {
  width: 100%;
  height: 100%;
  font-size: 0;
}
#index-icon .icon-link li {
  width: 25%;
  height: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
#index-icon .icon-link li:after {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
#index-icon .icon-link li a {
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: #A4A4A4;
}
#index-icon .icon-link li a p {
  margin-top: 0.125rem;
}
#index-icon .icon-link .active {
  color: #FB9833;
}
#index-icon .icon-link .active a {
  color: #FB9833;
}
.shop-header {
  width: 100%;
  height: 1.1rem;
  text-align: center;
}
.shop-header h1 {
  height: 1.1rem;
  line-height: 1.1rem;
  background-color: #e6e6e6;
}
.shop-container {
  width: 100%;
  padding-bottom: 1.2rem;
}
.shop-container .shop-content {
  width: 100%;
  height: 3.425rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #EEEEEF;
}
.shop-container .shop-content .shop-img {
  width: 2.625rem;
  height: 2.625rem;
}
.shop-container .shop-content .shop-img img {
  width: 100%;
  height: 100%;
}
.shop-container .shop-content .shop-desc h1 {
  color: #333333;
}
.shop-container .shop-content .shop-desc p {
  color: #333333;
  line-height: 0.4rem;
  margin: 0.075rem 0;
}
.shop-container .shop-content .shop-desc span {
  color: #f60;
  font-weight: 400;
}
.shop-container .shop-content .shop-desc .shop-btn {
  margin-top: 0.25rem;
  width: 2.1rem;
  height: 0.7rem;
  background-color: #e6e6e6;
}
.shop-container .shop-content .shop-desc .shop-btn span {
  display: inline-block;
  width: 33%;
  height: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  color: #000;
}
.shop-container .shop-content .shop-desc .shop-btn span:nth-child(2) {
  width: 28%;
  height: 0.59rem;
  line-height: 0.59rem;
  background-color: #ffffff;
  margin: 0.055rem;
}
.shop-end {
  width: 100%;
  height: 1.2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}
.shop-end .all-price,
.shop-end .shop-continue,
.shop-end .shop-jiesuan {
  width: 33.33333333%;
  height: 1.2rem;
  text-align: center;
}
.shop-end .all-price span {
  display: inline-block;
  margin-top: 0.125rem;
  margin-right: 0.125rem;
}
.shop-end .all-price p span {
  color: #FF7348;
  font-weight: 600;
}
.shop-end .shop-continue,
.shop-end .shop-jiesuan {
  line-height: 1.2rem;
}
.shop-end .shop-continue {
  background-color: #F4F4F4;
}
.shop-end .shop-jiesuan {
  background-color: #FF5722;
  color: #ffffff;
}
.search-header {
  width: 100%;
  height: 1.2rem;
  padding: 0.2rem;
  background-color: #F4F4F4;
}
.search-header .search-input {
  width: 89.4%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 3px;
}
.search-header .search-input form {
  height: 100%;
}
.search-header .search-input form input {
  display: inline-block;
  width: 90%;
  height: 100%;
  border: none;
  vertical-align: middle;
  padding-left: 0.25rem;
}
.search-header .search-input form input:focus {
  border: 2px solid #EAAD3A;
}
.search-header .search-icon {
  width: 8.6%;
  color: #9E9E9E;
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
  text-align: center;
}
#search-phone {
  width: 100%;
  padding: 0.15rem;
}
#search-phone .search-list .top {
  border: 0.025rem solid #FEB7A5;
  background-color: #FFFAF8;
}
#search-phone .search-list li {
  display: inline-block;
  padding: 0.2rem 0.375rem;
  background-color: #e4e4e4;
  margin: 0.175rem;
}
.user-header {
  width: 100%;
  height: 2.75rem;
  padding-top: 0.225rem;
  background-image: url('/images/banner/body.jpg');
  background-size: 130%;
  position: relative;
}
.user-header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 87, 34, 0.9);
  z-index: 2;
}
.user-header .user-container {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
.user-header .user-container .user-img {
  width: 20%;
  height: 100%;
  margin-left: 0.25rem;
}
.user-header .user-container .user-img img {
  width: 100%;
  border-radius: 100px;
  margin-top: 0.5rem;
}
.user-header .user-container .user-message {
  width: 40%;
  height: 100%;
  margin-left: 0.5rem;
}
.user-header .user-container .user-message span {
  display: inline-block;
  margin-top: 0.65rem;
}
.user-header .user-container .user-message p {
  width: 65%;
  height: 0.6rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding-left: 0.2rem;
  line-height: 0.6rem;
}
.user-header .user-container .user-shezhi {
  display: inline-block;
  margin-top: 0.65rem;
  margin-right: 1.0rem;
}
#user-state {
  width: 100%;
  height: 2.0rem;
  padding-top: 0.1rem;
  background-color: #F1F1F1;
}
#user-state .user-state-list {
  width: 100%;
  height: 2.0rem;
}
#user-state .user-state-list li {
  float: left;
  vertical-align: middle;
  height: 2.0rem;
  width: 20%;
  text-align: center;
}
#user-state .user-state-list li:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#user-state .user-state-list li a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: #000;
}
#user-state .user-state-list li a p {
  width: 1.0rem;
  height: 1rem;
  border-radius: 0.5rem;
  margin: 0 auto;
}
#user-state .user-state-list li a .blue {
  background-color: #2FB8CE;
}
#user-state .user-state-list li a .red {
  background-color: #E25B5B;
}
#user-state .user-state-list li a .green {
  background-color: #62D07A;
}
#user-state .user-state-list li a .yellow {
  background-color: #D6C46A;
}
#user-state .user-state-list li a .pink {
  background-color: #CA6ABE;
}
#user-state .user-state-list li a span {
  display: inline-block;
  margin-top: 0.125rem;
}
#user-personal {
  width: 100%;
}
#user-personal .personal-list {
  width: 100%;
}
#user-personal .personal-list li {
  width: 100%;
  height: 1.375rem;
  line-height: 1.375rem;
  padding: 0 0.25rem;
  border-bottom: 1px solid #BBBBBB;
}
#user-personal .personal-list li a {
  color: #BBBBBB;
  display: inline-block;
  width: 100%;
  height: 100%;
}
#user-personal .personal-list li a i {
  margin-right: 0.125rem;
}
